.navbar{
  height: 50px;
  width: 100%;
  background-color: #990000;
}

body{
  margin: 0px;
}

.title{
  display: inline;
  float:left;
}

.footnote{
  text-align: center;
  color: white;
  text-align: center;
  margin-top: 15px;
}

img{
  height: 200px;
  width: 100%;
}

.flex-container {
    display: flex;
    margin: 80px 20px 80px 20px;
}

.flex-child {
    width: 100%;
    margin-right: 100px;
}

.flex-child:first-child {
    margin-right: 80px;
    margin-left: 150px;
}

#write-well{
  color: #FFCC00;
  padding: 12px 5px 5px 5px;
  text-align: justify;
  margin: 0;
  top: 50%;
}

.footer{
  background-color: #990000;
  position: fixed;
  height: 55px;
  left: 0;
  bottom: 0;
  width: 100%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 380px;
  padding: 10px 10px 10px 10px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 450px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #990000;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 14px 16px;
  text-decoration: none;
  height: 25px;
}

li a:hover:not(.active) {
  background-color: #FFCC00;
}

.active {
  background-color: #FFCC00;
}
